<template>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-options">
          <choices></choices>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
          <files></files>
        </div>
      </div>
    </div>
</template>

<script>
import Choices from '../components/Choices'
import Files from '../components/Files'
import { setHtmlTags } from '../utils'

export default {
  methods: {
    updateContent: function () {
      const bpConfig = this.$route.params.bpConfig
      if (bpConfig) {
        // Set state by URL
        this.$store.dispatch('generateBoilerplateByRoute')

        // Send GA event
        this.$ga.event('Boilerplate', 'generate', bpConfig)

        // Set title and meta tags
        setHtmlTags(this.$store.getters)
      }
    }
  },
  components: {
    Choices, Files
  },
  created: function () {
    this.updateContent()
  },
  watch: {
    // If the route changes, update the content accordingly
    '$route': 'updateContent'
  }
}
</script>

<style>
.col-options {
  max-width: 230px;
}
</style>
