<template>
  <div id="app">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <router-link to="/" class="navbar-brand">
          <img alt="Brand" src="/static/assets/python.png" style="height: 20px;">
        </router-link>

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <router-link to="/" class="navbar-brand">Python Boilerplate</router-link>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!-- <li v-bind:class="{ active: currentRoutePath === '/' }"><router-link to="/">Home</router-link></li> -->
            <li v-bind:class="{ active: currentRoutePath === '/about' }"><router-link to="/about">About</router-link></li>
          </ul>
          <p class="navbar-text"></p>
          <p class="navbar-text" v-show="isLoading"><img src="/static/assets/load1.gif" style="height: 18px; "/></p>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-share"><span class="navbar-text"><a href="https://twitter.com/metachris" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="mailto:chris@linuxuser.at"><i class="fa fa-envelope" aria-hidden="true"></i></a></span></li>
          </ul>
        </div>
      </div/>
    </nav>

    <router-view></router-view>
  </div>
</template>

<script>
// import { navbar } from 'vue-strap'

import { mapGetters } from 'vuex'
import Choices from './components/Choices'
import Files from './components/Files'

import '../static/css/bootstrap-custom.min.css'
import '../static/css/highlight/default.css'
import Clipboard from 'clipboard'

export default {
  computed: mapGetters([
    'currentRoutePath',
    'isLoading'
  ]),
  components: {
    Choices, Files
  },
  created: function () {
    // Enable clipboard button
    /* eslint-disable no-new */
    new Clipboard('.btn-clipboard')
  }
}
</script>

<style>
html {
  overflow-y: scroll;
}

#app {
  padding: 0px;
}

.navbar-default {
}

.navbar-default .navbar-brand {
    color: #363636;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #4c4c4c;
    background-color: none;
}

.nav-share {
  font-size: 0.9em;

}
.nav-share .fa {
  margin-left: 5px;
  margin-right: 5px;
}
</style>
